/drive/nbproject/private/
/drive/drive/nbproject/private/
/nbproject/private/
/Driving/nbproject/private/
/arduino_corelib/nbproject/private/
/eclipse/project/nbproject/private/
/drive1/nbproject/private/
/drive1/build/Debug/
.directory
*~